parameters:
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- ./src/
	excludePaths:
		- */cache/*
		- ./src/Security
	ignoreErrors:
		# False positive: clients are not dependencies of this project.
		-
			message: '#Method KnpU\\OAuth2ClientBundle\\Client\\Provider\\[a-zA-Z0-9\\_]+::fetchUserFromToken\(\) has invalid return type [a-zA-Z0-9\\_]#'
			path: ./src/Client/Provider
		-
			message: '#Method KnpU\\OAuth2ClientBundle\\Client\\Provider\\[a-zA-Z0-9\\_]+::fetchUser\(\) has invalid return type [a-zA-Z0-9\\_]#'
			path: ./src/Client/Provider
